body{
    background-image: linear-gradient(to right,
     #1f8063, #3c90b4);
    background-size:auto;
    min-height: calc(100vh - 100px);
    margin: 230px; 
    background-position: fixed;
    letter-spacing: -1px;
}

button{
    background:#ffc600;
    border:0;
    padding: 10px 20px;
}

img{
    max-width: 100%;
}

/*---------- .wrapper----------*/

.wrapper{
    display:grid;
    grid-gap: 20px;
}

.top{
    display:grid;
    grid-gap: 10px;
    grid-template-areas: 
    "hero hero cta1"
    "hero hero cta2"
    ;
}

.hero{
    grid-area: hero;
    min-width: 400px;
    min-height: 400px;
    background: white url(../rammus/rammus300.jpg);
    background-size: cover;
    background-position: center;
    padding: 15px 10px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius:  10px;
}

.hero > * {
    background: #427147;
    border-radius: 5px;
    padding: 1px 5px;
}

.cta {
    background: #6DBD75;
    display: grid;
    align-items:center;
    justify-items: center;
    align-content: center;
}

.cta p {
    margin: 0;
}

.cta1 {
    grid-area: cta1;
}

.cta2 {
    grid-area: cta2;
}

.price{
    font-size: 60px;
    font-weight: 300;    
}

/* ----------Navegation------------ */
.menu ul{
    display: grid;
    grid-gap: 5px;
    padding: 2px;
    list-style: none;
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
}

.menu button{
    background: #427147;
    border: rgba(0,0,0,1);
}

.menu a{
    background: #1a2624;
    display:block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color:grey;
    text-transform: uppercase;
    font-size: 20px;
}

[aria-controls="menu-list"]{
    display: none;
}

.features{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.feature{
    background: #436d47;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 0 4px rgba(0,0,0,1);
}


.feature h3{
    color:rgba(0, 0, 0, 0.7)
}

/* ----- Sessão Rammão -----*/

.rammao{
    background: #78BD64;
    padding: 30px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.rammao p{
    font-size:20px;
    padding: 20px;
    color: 0 0 4px rgba(0, 0, 0, 0.7);
}
.rammao button{
    margin-left: 50px;
    margin-right: 20px;
}
.rammao h1{
    margin-left: 20px;
}
.gallery h2{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;

}
/*-------- Gallery -----------*/
.gallery img{
    width: 100%;
}
.gallery{
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.gallery h2:before, .gallery h2:after {
    display: block;
    content: '';
    height: 10px;
    background: linear-gradient(to var(--direction,left),#1e6843,transparent);
}

.gallery h2:after {
    --direction: right;   
}
/*----------------- web ---------------*/
@media (max-width: 1100px){
    .menu{
        order: -1;
    }

    [aria-controls="menu-list"]{
        display: block;
        margin-bottom: 10px;
    }

    .menu ul{    
        display: flex;
        grid-gap: 5px;
        padding: 2px;
        list-style: none;
        grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
        max-height: 0;
        transform: rotateX(90deg);
        transition: all 0.5s;
    }

    [aria-expanded="true"] ~ ul {
        display: flex;
        grid-gap: 5px;
        padding: 1px;
        list-style: none;
        grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
        max-height: 500px;
        transform: rotateX(0);
    }

    [aria-expanded="false"] .close{
        display:none;
    }

    [aria-expanded="true"] .close{
        display:inline-block;
    }
    
    [aria-expanded="true"] .open{
        display:none;
    }
}

@media (max-width: 1100px){
    .top {
        grid-template-areas: 
        "hero hero"
        "cta1 cta2"
    }
    .about{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 700px){
    .top {
        grid-template-areas: 
        "hero"
        "cta1"
        "cta2"
        
    }
}

@media (max-width:1250px){
    .menu{
        order: 100%;
    }

    [aria-controls="menu-list"]{
        display: block;
        margin-bottom: 10px;
    }

    .menu ul{    
        display: flex;
        grid-gap: 5px;
        padding: 2px;
        list-style: none;
        grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
        max-height: 0;
        transform: rotateX(90deg);
        transition: all 0.5s;
    }

    [aria-expanded="true"] ~ ul {
        display: flex;
        grid-gap: 5px;
        padding: 1px;
        list-style: none;
        grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
        max-height: 500px;
        transform: rotateX(0);
    }

    [aria-expanded="false"] .close{
        display:none;
    }

    [aria-expanded="true"] .close{
        display:inline-block;
    }
    
    [aria-expanded="true"] .open{
        display:none;
    }
}
